.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  overflow-y: hidden;
}

.nav-panel {
  display: flex;
  background-color: rgba(210, 219, 204, 0.8);
  flex-direction: column;
  width: 300px;
  padding: 250px 50px;
  border: 2px solid #36432f;
  border-radius: 5px;
  max-height: fit-content;
}

.main-panel {
  display: flex;
  background-color: rgba(210, 219, 204, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #36432f;
  border-radius: 5px;
}

.add-info {
  color: rgba(54, 67, 47, 1);
  font-weight: bold;
  font-style: italic;
}

.display-cntr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.summary-cntr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.form-cntr {
  padding: 25px;
  display: inline-flex;
  column-gap: 10px;
}

.mark {
  background-color: rgba(255, 255, 0, 0.5);
}